/* homepage hero */
.hero {
    margin: 20px;
    background-image: url('../Run-Buddy/hero.jpg');
    background-color: white;
    font-size: 20px;
    color: blue;
  }
  
  /* secondary page hero */
  .hero-secondary {
    margin: 20px;
    background-color: black;
    font-size: 20px;
    color: red;
  }